<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/css/se/tear/style.css" rel="stylesheet" type="text/css">


</head>
<body>
<canvas id="c"></canvas>

<a target="_blank" href="http://codepen.io/stuffit/pen/fhjvk" id="p">Like playing with physics? Click here!</a>

<div id="info">
    <div id="top">
        <a target="_blank" id="site" href="http://lonely-pixel.com">my website</a>
        <a id="close" href="">close</a>
    </div>
    <p>
        <br>
        - Tear the cloth with your mouse.<br><br>
        - Right click and drag to cut the cloth<br><br>
        - Reduce physics_accuracy if it's laggy.<br><br>
    </p>
</div>
</body>
<script type="text/javascript" src="/js/se/tear/default.js"></script>
</html>